# Slackbot
slack-bolt==1.18.0
slack-sdk
python-dotenv==1.0.0
requests==2.32.2
uvicorn
fastapi

# LlamaIndex e processamento de documentos
llama-index[huggingface]
unstructured
python-docx
pdfplumber
docx2txt

# Embeddings locais (sem OpenAI)
sentence-transformers
